<div class="app-container">
  <header class="header">
    <h1>Portfolio Manager</h1>
    <div class="auth-status">
      <span *ngIf="isLoggedIn">Logged In</span>
      <span *ngIf="!isLoggedIn">Not Logged In</span>
    </div>
    <nav class="nav-links" *ngIf="isLoggedIn">
      <a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
      <a [routerLink]="['/assets/add']" routerLinkActive="active">Assets</a>
      <a [routerLink]="['/transactions']" routerLinkActive="active">Transactions</a>
      <button class="logout-button" (click)="logout()">Logout</button>
    </nav>
    <nav class="nav-links" *ngIf="!isLoggedIn">
      <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
      <a [routerLink]="['/register']" routerLinkActive="active">Register</a>
    </nav>
  </header>

  <main class="main-content">
    <!-- Use the router outlet to show components based on the current route -->
    <router-outlet></router-outlet>
  </main>
</div>